.reinvent {
  background: var(--neutral-silver, #f5f7fa);
}

.reinvent-box {
  display: flex;
  gap: 2em;
}
.invent-box1 {
  /* width: 45%; */
}
.invent-box2 {
  display: flex;
  gap: 1em;
}
#test {
  display: flex;
  justify-content: space-between;
}
