/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* Global Settings */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* Header styling */
header {
  background: var(--neutral-silver, #f5f7fa);
}
.nav-center {
  display: block;
  padding: 1rem;
  background: var(--neutral-silver, #f5f7fa);
  border-bottom: 1px solid #4caf4f;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: block;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--text-gray-900, #18191f);
}
.nav-toggle img {
  max-width: 100%;
  height: 40px;
}

.links {
  display: block;
  width: 100%;
}
.links a {
  display: block;
  padding: 0.3rem 0;
  transition: all 0.3s linear;
  color: var(--text-gray-900, #18191f);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.links a:hover {
  background: var(--brand-primary, #4caf4f);
  padding: 0.3rem 0;
  transition: all 0.3s linear;
}
.nav-btns button {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

.tog {
  width: 100%;
  height: 0;
  overflow: hidden;
  display: block;
  transition: all 0.3s linear;
}
.nav-btns button:first-child {
  padding: 10px 20px;
  border-radius: 6px;
  background: var(--neutral-silver, #f5f7fa);
  border: none;
  color: var(--brand-primary, #4caf4f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid transparent;
}
.nav-btns button:first-child:hover {
  border: 1px solid #4caf4f;
}
.nav-btns button:last-child {
  padding: 10px 20px;
  border-radius: 6px;
  background: var(--brand-primary, #4caf4f);
  border: none;
  color: var(--default-white, #fff);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.nav-btns button:last-child:hover {
  opacity: 0.8;
}

.show-links {
  height: 20rem;
  transition: all 0.3s linear;
}
/* LANDING PAGE */
main {
  background: var(--neutral-silver, #f5f7fa);
}
.landing {
  padding: 2em 1em;
}
.landbox-1 p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 600;
}
.landbox-1 p span {
  color: var(--brand-primary, #4caf4f);
}
.landbox-1 p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1rem;
}
.landbox-1 button {
  border-radius: 4px;
  background: var(--brand-primary, #4caf4f);
  padding: 14px 32px;
  border: none;
  color: var(--neutral-white, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 1.5rem;
}
.landbox-1 button:hover {
  opacity: 0.8;
}
.landbox-2 img {
  max-width: 100%;
  object-fit: contain;
}
/* CLIENTS */
.clients {
  text-align: center;
  margin-top: 3rem;
  padding: 0 1em;
}

.clients p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 0.3em;
}
.clients p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1.5em;
}
.company-logos a {
  display: block;
}
.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* MANAGE */
.manage {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}
.manage p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.manage p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 1rem;
  margin-bottom: 1em;
}
.manage-box {
  padding: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  border: 0.5px solid rgba(171, 190, 209, 0.2);
  transition: transform 0.2s ease;
}
.manage-box:hover {
  transform: scale(1.02);
}
.manage-text p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;
  margin-top: 0.5rem;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.manage-text p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/* PEXELS */
.pexel {
  padding: 1em;
}
.pex-box p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.pex-box p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 1rem;
}
.pex-box button {
  border-radius: 4px;
  background: var(--brand-primary, #4caf4f);
  padding: 14px 32px;
  color: var(--neutral-white, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 2rem;
  border: none;
}
.pex-box button:hover {
  opacity: 0.8;
}

/* REINVENT */
.reinvent {
  background: var(--neutral-silver, #f5f7fa);
  margin-top: 2em;
}
.reinvent-box {
  padding: 1em;
}
.invent-box1 p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.invent-box1 p span {
  color: var(--brand-primary, #4caf4f);
}
.invent-box1 p:last-child {
  color: var(--text-gray-900, #18191f);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.invent-box1 {
  margin-bottom: 1em;
}
.invent-box2 {
  display: flex;
  gap: 2em;
}
.inner-vent {
  display: flex;
  align-items: center;
  gap: 1em;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  border: 0.5px solid rgba(171, 190, 209, 0.2);
  margin-bottom: 1em;
}
.inner-vent .vent-text p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.inner-vent .vent-text p:last-child {
  color: var(--neutral-grey, #717171);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* TESLA */
.tesla {
  background: var(--neutral-silver, #f5f7fa);
}
.smith {
  padding: 1em;
}
.smith-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smith-2 p:first-child {
  color: var(--neutral-grey, #717171);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 1em;
}
.smith-2 p:nth-child(2) {
  color: var(--brand-primary, #4caf4f);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 1em;
}
.smith-2 p:nth-child(3) {
  color: var(--neutral-l-grey, #89939e);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 1em;
}
.customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.customers a:last-child {
  color: var(--brand-primary, #4caf4f);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.marketing {
  padding: 1em;
}
.marketing > p:first-child {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.marketing > p:nth-child(2) {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2em; /* 150% */
}
.pics-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin: 0 auto;
}
.pics {
  position: relative;
  margin-bottom: 5em;
}
.pics-text {
  margin: 0 auto;
  border-radius: 8px;
  background: var(--neutral-silver, #f5f7fa);
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  width: 80%;
  position: absolute;
  bottom: -50px;
  left: 10%;
  padding-bottom: 1em;
}
.pics-text p:first-child {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 0.5em;
}
.pics-text a {
  color: var(--brand-primary, #4caf4f);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 1em;
}
.foot-top {
  background: var(--neutral-silver, #f5f7fa);
}
.demo {
  text-align: center;
  margin: 0 auto;
  padding: 3em 0;
}
.demo p {
  color: var(--neutral-black, #263238);
  text-align: center;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
}
.demo button {
  border-radius: 4px;
  background: var(--brand-primary, #4caf4f);
  padding: 14px 32px;
  color: var(--neutral-white, #fff);
  text-align: center;

  /* Body/Medium/Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  gap: 0.5em;
  border: none;
}
.demo button:hover {
  opacity: 0.8;
}
.row {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3em;
  /* margin: 0 auto; */
}
.footer-col1 p:first-child {
  margin: 1em;
}
.footer-col1 p:nth-child(2),
.footer-col1 p:nth-child(3) {
  color: var(--neutral-silver, #f5f7fa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0.5em;
}
.sociallinks {
  display: flex;
  gap: 1em;
  /* justify-content: space-between; */
  align-items: center;
}
.footer-col,
.footer-col1 {
  padding: 1em;
}
.footer-col h4 {
  color: var(--neutral-white, #fff);

  /* Heading/Headline 4 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
.footer-col ul li a {
  color: var(--neutral-silver, #f5f7fa);

  /* Body/Regular/Body 3 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0.5em 0;
}
.fieldInput {
  display: flex;
  margin: 20px auto;
  width: 100%;
  height: 35px;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.375);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--dark-neutral-color);
  padding: 0.3em 0;
}
.form-input {
  width: 200px;
  background: var(--dark-neutral-color);
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  color: var(--light-color);
}
.form-input:focus {
  outline: none;
}
.form-submit {
  font-size: 18px;
  color: var(--light-color);
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background: var(--dark-neutral-color);
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

/* FOOTER */
footer {
  background: var(--neutral-black, #263238);
}
/* RESPONSIVE  */
/* HEADER */
@media screen and (min-width: 1000px) {
  .container {
    max-width: 1170px;
    padding: 0 0.5em;
    margin: 0 auto;
  }
  .nav-header {
    display: block;
  }
  .logo a {
    display: flex;
    gap: 0.5em;
    padding: 0;
  }

  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #4caf4f;
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  }

  .nav-toggle {
    display: none;
  }
  .tog {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    width: 80%;
  }
  .links {
    height: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .links a {
    padding: 10px 0;
    margin: 0 0.5rem;
    transition: none;
    border-bottom: 2px solid transparent;
    color: var(--text-gray-900, #18191f);
  }
  .links a:hover {
    background: none;
    transition: none;
    padding: 10px 0;
    border-bottom: 2px solid #4caf4f;
  }
  .nav-btns {
    display: flex;
    width: 30%;
  }
  .nav-btns button {
    margin: 0 0.5rem;
  }
}
/* LANDING PAGE */
@media screen and (min-width: 800px) {
  .landing {
    padding: 5rem 2em;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
  }
  .landbox-1 {
    width: 50%;
  }
  .landbox-2 {
    width: 50%;
  }
  main,
  header {
    background: var(--neutral-silver, #f5f7fa);
  }
  .manager {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
    margin-top: 3rem;
  }
  .pexel {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  .pex-box,
  .pex-box1 {
    flex: 1;
  }
  .invent-box1 p:first-child {
    font-size: 36px;
  }
  .reinvent-box {
    display: flex;
    gap: 2em;
    padding: 2em 1em;
  }
  .invent-box1,
  .invent-box2 {
    flex: 1;
  }
  .inner-vent {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }
  .pex-box p:first-child {
    font-size: 36px;
  }
  .smith {
    display: flex;
  }
  .smith-1,
  .smith-2 {
    flex: 1;
  }
  .customers {
    flex-wrap: nowrap;
  }
  .marketing-pics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .demo p {
    width: 60%;
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
